
[submodule "14week_chalna-app"]
	path = 14week_chalna-app
	url = https://github.com/swjungle-kimbap/chalna-app
[submodule "7week_pintos"]
	path = 7week_pintos
	url = https://github.com/eunsik-kim/pintos11
